[user]
    name = {{ .fullname }}
    email = {{ .email }}

[github]
    user = {{ .github_username }}

[alias]
    l = log --all --graph --decorate --oneline
    ll = log --all --graph --decorate
    dft = difftool

[core]
    editor = nvim
    quotepath = false
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end }}

# work
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work

# Allow local customizations in the .gitconfig_local file
[include]
    path = ~/.gitconfig_local

